.container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
}

.queue {
    display: flex;
    flex-direction: column;
    flex-basis: 24%;
}

.item {
    position: relative;
    width: 100%;
    margin: 2.5% 0;
}

@function randomNum($max, $min: 0, $u: 1) {
    @return ($min + random($max)) * $u;
}

@function randomColor() {
    @return rgb(randomNum(255), randomNum(255), randomNum(255));
}

$lineCount: 4;
$count: 8;

@for $i from 1 to $lineCount + 1 {
    .queue:nth-child(#{$i}) {
        @for $j from 1 to $count + 1 {
            .item:nth-child(#{$j}) {
                height: #{randomNum(300, 50)}px;
                background: randomColor();

                &::after {
                    content: "#{$j}";
                    position: absolute;
                    color: #fff;
                    font-size: 24px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}